{% extends "members/u_base.html" %}

{% block sub-title %}Login | {% endblock %}

{% block style %}
#content { font-size: 1em; border: none; }
#content h1 { font-size: 1.8em; margin: 0; }
#content table td { border-bottom: none;}
<!-- #content table th { width: 40%; } -->
{% endblock %}

{% block content %}
<div class='col s6 offset-s3' id='login_box'>
	{% if form.errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	<div style="margin-left:2em;">

	<form id='login_form'  method="post" action=".">
		<h1 id='login_header' style='margin-top:5%;margin-bottom:5%;' align='center'>Login</h1>
		<table>
			<tr>
				<th>Email:</th>
				<td>{{ form.username }}</td>
				<td></td>
			</tr>
			<tr>
				<th>Password:</th>
				<td>{{ form.password }}</td>
				<td></td>
			</tr>
		</table>
	<div class='row'>
		<button class="btn waves-effect waves-light" id='loginonly-btn' type="submit" value="Login" />Login</button>
		<input type="hidden" name="next" value="{{ next }}" />
	</div>
	{% csrf_token %}
	<div id='login_reset' style="margin-top:1.5em;margin-left:12%;">
		<font size="-1"><i>If you've forgotten your password, you will need to <a href="{% url 'password_reset' %}">create a new password</a>.</i></font>
	</div>
	</form>
	</div>

</div>
{% endblock %}
